<div class="mdui-theme-layout-<%= theme.mdui.layout %> mdui-color-transparent">
<div <%- fragment_cache ('card_style', function (){
    return partial ('_partial/card_style');
}) %>>
    <div id="<% if(theme.comments.use == 'disqus') { %>disqus_thread<% } else { %><%= 'comment-' + theme.comments.use %><% } %>" class="comment mdui-card-content">
        <%- partial('_widget/comment_' + theme.comments.use) %>
    </div>
</div>
</div>